<div class="container-fluid">
  <header class="title-bar">
    <a routerLink="/games" class="back-button"><span class="back-icon"></span></a>
    <h2 class="title-bar-title">{{title}}</h2>
  </header>
</div>
