.title-bar {
  background: #50B9D1;
  margin: 0 -15px;
  padding: 15px 20px;

  .title-bar-title {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 0 0 0 25px;
    vertical-align: middle;
  }

  .back-button {
    display: inline-block;
    padding: 10px;
    vertical-align: middle
  }
}
