<form class="search-bar">
  <div class="input-group mb-3">
    <input [(ngModel)]="search" (keyup)="setSearch()" type="text" name="search" class="form-control bg-icon-search-right" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

  <div class="form-row">
    <div class="col-md-2"><label><strong>Filtrar por:</strong> </label></div>
    <div class="col">
      <a class="btn btn-primary btn-sm" [ngClass]="{'active': filter === 'popularity'}" href="javascript:void(0);" (click)="setFilter('popularity')">Popularidade</a>
      <a class="btn btn-primary btn-sm" [ngClass]="{'active': filter === 'visualization'}" href="javascript:void(0);" (click)="setFilter('visualization')">Visualizações</a>
    </div>
  </div>
</form>

