@import '~sass/variables';

.list-items {
  list-style: none;
  padding: 0;
  margin: 0;

  .list-item {
    margin: 10px auto;

    .list-item-content {
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .list-item-title {
      transition: .2s transform;
      background: rgba(0, 0, 0, .8);
      color: #fff;
      font-size: 14px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 10px;
      transform: translate(0, 100%);
    }

    &:hover .list-item-title {
      transform: translate(0, 0);
    }

    .list-item-avatar {
      margin: 0;
    }

    .list-avatar-img {
      display: block;
      max-width: 100%;
    }
  }
}

@media (max-width: $max-celphone-breakpoint) {
  .list-items {
    .list-item {
      .list-item-title {
        transform: translate(0, 0);
      }
    }
  }
}

