<ul class="row list-items" *ngIf="games">
  <li class="col-sm-4 list-item" *ngFor="let game of games.top | searchFilter:search" (click)="onSelect(game)">
    <article class="list-item-content">
      <figure class="list-item-avatar">
        <img class="list-avatar-img" src="{{ game.game.box.template | replace:'{width}':'600' | replace:'{height}':'800' }}">
      </figure>
      <h3 class="list-item-title">{{game.game.name}}</h3>
    </article>
  </li>
</ul>
