.game-detail {
  position: relative;

  .avatar-img {
    display: block;
    max-width: 100%;
  }

  .game-detail-description {
    background: rgba(0, 0, 0, .7);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;

    * {
      color: inherit;
    }

    .detail-title {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }
}
