<app-title-bar [title]="currentGame.game.name"></app-title-bar>
<div class="container">
  <article class="game-detail">
    <figure class="game-detail-avatar">
      <img class="avatar-img" src="{{ currentGame.game.box.template | replace:'{width}':'600' | replace:'{height}':'800' }}">
    </figure>
    <div class="game-detail-description">
      <h3 class="detail-title">{{currentGame.game.name}}</h3>
      <p>1234 visualizações</p>
      <p>123 canais ao vivo</p>
      <p>1234 popularidade</p>
    </div>
  </article>
</div>
