<div class="content-body">
  <div class="container">
    <h1>{{ title }}</h1>
    <app-search-bar></app-search-bar>
    <app-list-items [requestGames]="requestGames" [search]="search" [filter]="filter" [games]="games"></app-list-items>
  </div>
</div>
